<html>
<h2>unblock ips</h2>
<form action='/unblock' method='post'>
   ip      :   <input type="text" name="ip" value='192.168.106.252'><br>
   username:  <input type="text" name="username" value='tao'><br>
   password:   <input type="text" name="password" value='123'><br><br>
   unblock_ips:   <input type="text" name="block_ips" value='192.168.1.254'>
   use space split ips
   <br>
   delay time:   <input type="text" name="time" value='0'>
   <br>
 <input type="submit" value="Submit">
</form>

</html>

